*.o
*~
/autom4te.cache/
/configure
/config.cache
/config.log
/config.status
/Makefile
/fsattr/build/.deps/
/fsattr/build/Makefile
/fsattr/build/fsattr
/fsattr/Debug/
/fsmove/build/.deps/
/fsmove/build/Makefile
/fsmove/build/fsmove
/fsmove/Debug/
/fsremap/build/.deps/
/fsremap/build/Makefile
/fsremap/build/fsremap
/fsremap/src/config.hh
/fsremap/src/ft_config.hh
/fsremap/src/stamp-h1
/fsremap/Debug/
/fstransform/build/Makefile
/fstransform/build/fstransform
/fstransform/fstransform
